@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

/* H O M E P A G E */
body {
  /* background-color: white; */
  transition: background-color 0.5s;
}

header {
  /* background-image: url("../media/christianna06.jpg"); */
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

/* .about-header, .projects-header {
  background-image: none;
} */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee Hairline', cursive;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 25px;
  font-size: 34px;
  padding: 0 80px;
  padding: 30px;
}

h3 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  padding: 0 80px;
  padding: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 80px;
  padding: 30px;
}

.nav-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

.nav-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

.nav-left:hover, .nav-right:hover {
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 4px;
}

/* C O L O R   T R A N S I T I O N */

.one-five-two-oh-section-one-active, .one-five-two-oh-active {
  background-color: #231F1E;
}

.last-studio-active {
  background-color: #F6D2B2;
}

.granular-active {
  background-color: #063362;
}

.spray-active {
  background-color: ##dedede;
}

.munch-active{
  background-color: #d3e3eb;
}

/* T E X T   T Y P E W R I T E R */
/* .text-typer {
  font-weight: 1000;
  font-size: 5.5em;
}

.text-typer .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.text-typer .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.text-typer .line1 {
  top: 0;
  left: 0;
}

.text-typer .letter {
  display: inline-block;
  line-height: 1em;
} */
/* A B O U T     P A G E */
.about-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee Hairline', cursive;
  color: black;
}

.about-header h2 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 25px;
  font-size: 34px;
  padding: 0 80px;
  padding: 30px;
}

.about-header h3 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  letter-spacing: 4px;
  padding: 0 80px;
  padding: 30px;
}

.about-header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 80px;
  padding: 30px;
}
/* P R O J E C T S  P A G E */
/* 1 5 2 0   P R O J E C T */
.projects-header h1 {
  font-size: 100px;
}

.one-five-two-oh-video {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
}

.one-five-two-oh {
  padding-top: 200px;
}

.padding-big {
  padding: 150px;
}

.container {
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.flyer-one, .flyer-two, .flyer-three {
  box-shadow: -18px 11px 47px rgba(0, 0, 0, 0.5);
}

/* L A S T  S T U D I O */
.last-studio-video {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
}

/* G R A N U L A R */
.granular-video {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
}

/* S P R A Y */
.spray-video {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
}
/* M U N C H */
.munch-video{  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
}
